Mashup/Subsystems/InternalCRM/Sources/es/udc/mashup/internalcrm/service/wsdl/InternalCRM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.udc.es/internalcrm/soap" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.udc.es/internalcrm/soap" xmlns:intf="http://ws.udc.es/internalcrm/soap" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://ws.udc.es/internalcrm/soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LeadWTO">
    <sequence>
     <element name="annualRevenue" type="xsd:double"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="company" nillable="true" type="xsd:string"/>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="insertionDate" nillable="true" type="xsd:dateTime"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="phone" nillable="true" type="xsd:string"/>
     <element name="postalCode" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="street" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfLeadWTO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:LeadWTO[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="findLeadsResponse">

      <wsdl:part name="findLeadsReturn" type="impl:ArrayOfLeadWTO"/>

   </wsdl:message>

   <wsdl:message name="findLeadsRequest">

      <wsdl:part name="in0" type="xsd:double"/>

      <wsdl:part name="in1" type="xsd:double"/>

      <wsdl:part name="in2" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="findLastLeadsRequest">

      <wsdl:part name="in0" type="xsd:dateTime"/>

      <wsdl:part name="in1" type="xsd:dateTime"/>

   </wsdl:message>

   <wsdl:message name="findLastLeadsResponse">

      <wsdl:part name="findLastLeadsReturn" type="impl:ArrayOfLeadWTO"/>

   </wsdl:message>

   <wsdl:portType name="InternalCRM">

      <wsdl:operation name="findLeads" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:findLeadsRequest" name="findLeadsRequest"/>

         <wsdl:output message="impl:findLeadsResponse" name="findLeadsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="findLastLeads" parameterOrder="in0 in1">

         <wsdl:input message="impl:findLastLeadsRequest" name="findLastLeadsRequest"/>

         <wsdl:output message="impl:findLastLeadsResponse" name="findLastLeadsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InternalCRMSoapBinding" type="impl:InternalCRM">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findLeads">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findLeadsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.udc.es/internalcrm/soap" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="findLeadsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.udc.es/internalcrm/soap" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findLastLeads">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findLastLeadsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.udc.es/internalcrm/soap" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="findLastLeadsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.udc.es/internalcrm/soap" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InternalCRMService">

      <wsdl:port binding="impl:InternalCRMSoapBinding" name="InternalCRM">

         <wsdlsoap:address location="http://localhost:8080/Mashup/services/InternalCRM"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
